<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="My Personal Site.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Alex</title>

  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <div id="avatar-container">
      <img src="/img/alex.png" alt="Alex">
    </div>

    <nav>
      <a href="https://github.com/alexy4744" rel="noopener noreferrer" target="_blank" aria-label="Visit my GitHub">
        <img src="/icons/github.svg" alt="GitHub">
      </a>

      <a href="mailto:hello@alexyu.xyz" target="_blank" aria-label="Contact Me">
        <img src="/icons/email.svg" alt="Email">
      </a>

      <a href="https://chain.so/a/6rj6snq" rel="noopener noreferrer" target="_blank"
        aria-label="Get my Bitcoin Address">
        <img src="/icons/bitcoin.svg" alt="Chain.so">
      </a>
    </nav>
  </header>

  <main>
    <%- include("../partials/divider", { flipped: false, inverted: false }); %>

    <article>
      <h2 class="color-primary">Who Am I?</h2>
      <p class="color-primary">
        Hi, my name is Alex. I am currently <strong id="age"><%= age %></strong> years old.<br>
        I like JavaScript.
      </p>
    </article>

    <%- include("../partials/divider", { flipped: false, inverted: true }); %>

    <article class="bg-primary">
      <h2>Toolset</h2>

      <div class="tools">
        <%- include("../partials/tools/html.ejs") %>
        <%- include("../partials/tools/css.ejs") %>
        <%- include("../partials/tools/vue.ejs") %>
        <%- include("../partials/tools/mongodb.ejs") %>
        <%- include("../partials/tools/sass.ejs") %>
        <%- include("../partials/tools/nodejs.ejs") %>
      </div>
    </article>

    <%- include("../partials/divider", { flipped: false, inverted: false }); %>

    <article>
      <h2 class="color-primary">Projects</h2>

      <div class="projects">
        <% Object.keys(repositories).forEach((index) => { %>
          <% const repository = repositories[index]; %>
          <% const language = repository.language || "Other"; %>

          <div class="repository">
            <a class="repository-name" href="<%= repository.html_url %>">
              <%= repository.name %>
            </a>

            <p class="repository-description">
              <%= repository.description %>
            </p>

            <p class="repository-language">
              <span class="language-<%= language.toLowerCase(); %>"></span>
              <%= language %>
            </p>

            <div class="repository-statistics">
              <div>
                <img src="/icons/star.svg" alt="Stargazers: ">
                <span><%= repository.stargazers_count %></span>
              </div>

              <div>
                <img src="/icons/eye.svg" alt="Watchers: ">
                <span><%= repository.watchers_count %></span>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </article>
  </main>

  <footer>
    <%- include("../partials/divider", { flipped: true, inverted: false }); %>
  </footer>
</body>

</html>